#h2{
    color: #aa0428;
}
#button{
    background-color: #aa0428;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}
#button:hover{
    background-color:  violet;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}