/*#ludo_table td {width: 3em; height:3em;
    border:1px solid black;text-align:center;}
#ludo_table {border-collapse: collapse;}

TD.R_square {background-color:hsl(0, 100%, 51%);}
TD.P_square {background-color:hsl(318, 66%, 64%);}*/
body{
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: 0;
}
#gameInterface{
    text-align: center;
    margin-bottom: 10px;
    color:violet;}

#login{
    color: #aa0428;
}


input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #cfcaca;
    outline-color:#aa0428;
  }

input[type=text]:focus, input[type=password]:focus{
    background-color: #ffffff;
    outline-color:#aa0428;
} 

a:link, a:visited {
    background-color: #aa0428;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
  }
  
  a:hover, a:active {
    background-color: violet;
  }